<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prsuit.androidlearnsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".service.AIDLActivity"></activity>
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".fragment.ViewPagerActivity" />
        <activity android:name=".fragment.TestResultActivity" />
        <activity android:name=".fragment.MyFragmentActivity" />
        <activity android:name=".contentprovider.ContentProviderActivity" />
        <activity android:name=".broadcastreceiver.BroadcastActivity" />
        <activity android:name=".service.ServiceActivity" />
        <activity android:name=".ipc.client.ClientActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 静态注册广播接收器 -->
        <!-- <receiver android:name=".broadcastreceiver.MyBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.prsuit.sample.normal_action_name" /> -->
        <!-- <action android:name="com.prsuit.sample.ordered_action_name" /> -->
        <!-- <action android:name="com.prsuit.sample.local_action_name" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <provider
            android:name=".contentprovider.MyContentProvider"
            android:authorities="com.prsuit.myprovider"
            android:exported="true"
            android:process=":provider"
            android:readPermission="com.prsuit.myprovider.READ"
            android:writePermission="com.prsuit.myprovider.WRITE" />

        <service
            android:name=".service.RemoteService"
            android:process=":remote" />
        <service android:name=".service.LocalService" /> <!-- 注册创建的ContentProvider类 -->
        <service android:name=".service.BindService" />
        <service android:name=".service.MyIntentService" />
        <service
            android:name=".service.AIDLService"
            android:exported="true"
            android:process=":remote">
            <!-- 提供隐式调用 -->
            <intent-filter>
                <action android:name="com.prsuit.aidl.bookmanager" />
            </intent-filter>
        </service>
        <service
            android:name=".ipc.server.RemoteService"
            android:exported="true"
            android:process=":remote">
            <!-- 提供隐式调用 -->
            <intent-filter>
                <action android:name="com.prsuit.ipc.bookmanager" />
            </intent-filter>
        </service>
    </application>
    <permission
        android:name="com.prsuit.myprovider.WRITE"
        android:protectionLevel="normal" />

    <permission
        android:name="com.prsuit.myprovider.READ"
        android:protectionLevel="normal" />
    <uses-permission android:name="com.prsuit." />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>